body {
  font-family: Helvatica, Arial;
  background-color: #222222;
}

.flex-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.outline {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 5px white solid;
  border-radius: 16px;
  padding: 4px 12px 4px 12px;
  max-height: 33%;
  max-width: 33%;
}

.calculator {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.heading {
  flex: 1;
  color: #dddddd;
  text-align: center;
  font-size: 48px;
  font-weight: 600;
  padding: 0;
}

.display {
  flex: 1;
  background-color: #dddddd;
  color: #222222;
  border: 1px solid #797979;
  border-radius: 16px;
  min-width: 286px;
  min-height: 58px;
  padding: 6px 6px 6px 6px;
  margin: 2px;
  line-height: 58px;
  font-size: 32px;
  font-weight: 800;
  text-align: right;
}

.small-button {
  flex: 1;
  background-color: #dddddd;
  color: #222222;
  border: 1px solid #797979;
  border-radius: 16px;
  min-width: 72px;
  min-height: 72px;
  padding: 6px 6px 6px 6px;
  margin: 2px;
  font-size: 16px;
  font-weight: 800;
  transition-duration: 0.3s;
}

.small-button:hover {
  cursor: pointer;
  font-size: 32px;
}

.big-button {
  flex: 2;
  background-color: #dddddd;
  color: #222222;
  border: 1px solid #797979;
  border-radius: 16px;
  min-width: 148px;
  min-height: 72px;
  padding: 6px 6px 6px 6px;
  margin: 2px;
  font-size: 16px;
  font-weight: 800;
  transition-duration: 0.3s;
}

.big-button:hover {
  cursor: pointer;
  font-size: 32px;
}

button[data-type='all-clear'] {
  color: #800000;
}

button[data-type='clear'] {
  color: #800000;
}

button[data-type='operator'] {
  color: #800000;
}

button[data-type='equals'] {
  color: #800000;
}
